<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>J'effectue ma demande de cours</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="new-student-main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" id="header-title">
        <p>Dés réception nous vous contacterons pour établir un devis personnalisé répondant à vos attentes</p>
      </div>
    </div>
    <%= render :partial => 'students/form' %>

  </div>
</div>