<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Comment ça marche ?</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h2>VOS COURS EN 3 CLICS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4" id="comment-ca-marche-container">
      <p>1. <span style="font-weight:900;">Vous choisissez votre activité</span>, ou la formule qui correspond à vos envies via le formulaire de demande de cours online. A ce moment là vous pouvez nous transmettre toutes les informations nécessaire à comprendre votre (vos) objectifs.</p>
      <p>Si vous ne savez pas quelle activité correspond le plus à vos besoins, n’hésitez pas à nous le préciser afin que dans l’étape n°2 nous puissions vous conseiller</p>
    </div>
    <div class="col-lg-4" id="comment-ca-marche-container">
      <p>2. <span style="font-weight:900;">Nous personnalisons ensemble vos cours</span>, ensemble, par téléphone (ou par mail si vous préférez). Nous pouvons vous conseiller sur un type d’activité, un volume horaire, un choix de musique.</p>
      <p>Nous vous transmettons à ce moment là le bon de commande</p>
    </div>
    <div class="col-lg-4" id="comment-ca-marche-container">
      <p>3. Une fois le bon de commande validé, nous fixons ensemble l’horaire du premier cours.</p>
      <p>Votre intervenant dédié, se présentera à l’heure convenu et il ne vous reste plus qu’a <span style="font-weight:900;">Profitez  de votre activité</span></p>
    </div>
  </div>
  <div class="row" style="margin-bottom:4em;">
    <div class="col-lg-12 text-center">
      <a href="https://s3.eu-central-1.amazonaws.com/rails-demo-production-coursparticuliers/plaquette_client" target="_blank" id="download-button">Télécharger le guide client</a>
    </div>
  </div>
</div>
