<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Contact</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row">
    <div class="col-lg-12" id="mentions-legales-container">
      <p>* Par courrier : 10, Rue alibert - 75010 Paris </p>
      <p>* Par mail : <a href="mailto:paris@lesnouveauxcoursparticuliers.com">paris@lesnouveauxcoursparticuliers.com</a></p>
      <p>* Par téléphone : 06.28.30.95.30 (sauf demande de cours - merci d’utiliser le formulaire site</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.320995079388!2d2.3648945153871757!3d48.871157007762235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e0a1eb05051%3A0x6b1ceced9085150f!2s10+Rue+Alibert%2C+75010+Paris!5e0!3m2!1sen!2sfr!4v1449674154469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
