<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>FAQ</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row" id="faq-container">
    <div class="col-lg-6">
      <a href="#1">Que comprend le tarif affiché ?</a><br>
      <a href="#2">Comment payer ?</a><br>
      <a href="#3">Quelles sont les communes couvertes ?</a><br>
      <a href="#4">Quelle est la surface nécessaire ?</a><br>
      <a href="#5">Quel est le matériel nécessaire ?</a><br>
      <a href="#6">Quel est le nombre de personne possible par cours ?</a><br>
    </div>
    <a name="1"></a>
    <div class="col-lg-6">
      <a href="#7">Quelle est la durée des cours ?</a><br>
      <a href="#8">Entreprise déclaré service à la personne c’est quoi ?</a><br>
      <a href="#9">Comment bénéficier de la réduction fiscale/crédit d’impôt</a><br>
      <a href="#10">Information traitement donnée</a><br>
      <a href="#11">En cas de réclamation ?</a><br>
    </div>
  </div>
  <div class="row" id="faq-container">
    <div class="col-lg-12">
      <ol>
        <a name="2"></a>
        <li>Que comprend le tarif affiché sur le devis?</li>
        <p>Le tarif affiché dans le devis que nous vous transmettons correspond au montant à régler pour l’exécution de la prestation selon le type de cours souhaités, le nombre de personne et le nombre de cours réservés.</br>Il comprend la prestation du professeur ainsi que la prestation administrative que nous effectuons : conseil, sélection du professeur,  mise en relation et déclaration administrative.</p>
        <a name="3"></a>
        <li>Comment payer ?</li>
        <p>Le paiement peut se faire de deux manières différentes : <br> Paiement par CESU ou par Chèque bancaire : à la réservation en intégralité <br> Paiement par prélèvement SEPA : en fin de mois de prestation<br> Le règlement en espèces, n’est pas possible pour les cours rentrant dans le cadre des services à la personne.</p>
        <a name="4"></a>
        <li>Quelles sont les communes couvertes ?</li>
        <p>Nos professeurs effectuent des cours sur toute l’Ile de France, cependant nous sommes aujourd’hui en phase de déploiement ce qui peut parfois entraîner des zones non couvertes sur certaines activités.</p>
        <a name="5"></a>
        <li>Quelle est la surface nécessaire ?</li>
        <p>Cela dépend de la nature de votre cours particuliers. Mais généralement un espace de 2m x 2m est considéré le minimum nécessaire.<br>Il suffit de déplacer la table vous disposerez d’un espace pour vos activités chez vous.</p>
        <a name="6"></a>
        <li>Quel est le matériel nécessaire ?</li>
        <p>Les professeurs viennent avec un minimum de matériel pour la bonne réalisation du cours, par exemple cd/IPod pour les cours de danse, élastiques pour les cours de coaching, gants pour la boxe…<br> De votre côté, nous vous conseillons d’avoir préparé l’espace, vérifier le bon fonctionnement des appareils audio si nécessaire, prévoir les musiques s’il s’agit de cours de danse sur des musiques précises…<br>Il vous est aussi demandé d’avoir une tenue permettant de suivre le cours dans de bonnes conditions.</p>
        <a name="7"></a> 
        <a name="8"></a>
        <li>Quel est le nombre de personne possible par cours ?</li>
        <p>Le nombre de personne n’est pas limité, 1, 2 ou 15 personnes.<br>Cependant, les tarifs dépendant du nombre de personne, si le nombre de personne ayant suivi le cours ne correspondent pas au tarif payé à la réservation, un ajustement vous sera demandé.<br>Egalement il est important de noter que les cours particuliers à domicile rentrent dans le cadre des services à la personne (loi Borloo). Comme le prévoit le décret d’application, ceux-ci doivent être suivi de manière individuelle ou par des personnes habitant au sein du même foyer fiscal, afin de bénéficier de la déduction fiscale / crédit d’impôt</p>
         <a name="9"></a>
        <li>Quelle est la durée des cours ?</li>
        <p>Les cours ne peuvent pas durer moins d’1heure, et il s’agit de la durée la plus fréquente pour les cours. Cependant la durée peut varier selon vos disponibilités et objectifs.</p>
        <li>Entreprise déclarée service à la personne c’est quoi ?</li>
        <p>En faisant appel à la SAS les Nouveaux Cours Particuliers, vous faites appel à une structure de prestation de service déclaré auprès de l’État par les services à la personne. En étant déclaré auprès de la DIRECCTE, nous pouvons vous faire bénéficier d’une réduction fiscale / crédit d’impôt à hauteur de 50% des montants engagés. Sans aucune démarche de votre part puisque nous nous en occupons à votre place. </p>
       
        <a name="10"></a>
        <li>Comment bénéficier de la réduction fiscale/crédit d’impôt ?</li>
        <p>Pour faciliter l’accès du plus grand nombre aux services à la personne, des allègements fiscaux et des exonérations de charges sociales ont été instaurés, définis par l’article D.7231-1 du code du travail. Pour les particuliers :<br>Crédit d’impôt de 50 % au titre de l’emploi, par les particuliers, d’un salarié à domicile pour les contribuables exerçant une activité professionnelle ou pour les demandeurs d’emploi depuis au moins trois mois (article 199 sexdecies du code général des impôts)<br>Réduction d’impôt de 50 % au titre de l’emploi, par les particuliers, d’un salarié à domicile pour les contribuables n’exerçant pas d’activité professionnelle ou pour les demandeurs d’emploi depuis moins de trois mois (article 199 sexdecies du code général des impôts).<br>En janvier de chaque année, vous recevrez une attestation fiscale qui doit être conservé par vos soins et qui reprend les montants de l’année N-1 ouvrant droit à ces avantages. Pour en bénéficier, il vous suffira de le déclarer lors du remplissage de votre fiche d’impôt et de conserver cette attestation en cas de contrôle.</p>
        
        <li>Information traitement donnée.</li>
        <p>Les informations recueillies font l’objet d’un traitement informatique destiné à pouvoir vous répondre dans les plus brefs délais. Les destinataires des données sont: lesnouveauxcoursparticulier.com<br>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à<br>SAS Les Nouveaux Cours Particuliers<br>10 Rue Alibert – 75010 PARIS<br>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>
        <a name="11"></a>
        <li>En cas de réclamation ?</li>
        <p>Notre équipe est à votre disposition du lundi au vendredi de 9h à 19h pour répondre à toutes vos questions, par mail ou par téléphone.</p>
      </ol>
    </div>
  </div>
</div>