<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Mentions légales</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row">
    <div class="col-lg-12" id="mentions-legales-container">
      <p><strong>LES NOUVEAUX COURS PARTICULIERS<strong></p>
      <p>SASU au capital de 1000€</p>
      <p>Siège social: 10 rue alibert 75010 PARIS</p>
      <p>Tèl: 06.28.30.95.30</p>
      <p>paris@lesnouveauxparticuliers.com</p>
      <p>RCS PARIS: 811 071 893</p>
      <p>TVA intracommunautaire : en attente déclaré service à la personne sous la déclaration N° SAP811071893 auprès de la DIRECTE Paris.</p>
      <p>Responsable de la publication: M. Anthony TEYSSIER</p>
      <p>Hébergeur: en attentedéclaration CNIL en attente</p>
    </div>
  </div>
</div>
