<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Presse</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row" id="press-container">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <p>Contact presse et autres informations : Anthony Teyssier - 06.28.30.95.30 ou <a href="mailto:anthony@lesnouveauxcoursparticuliers">anthony@lesnouveauxcoursparticuliers</a></p>
      <br><br>
      <p><i class="fa fa-file-pdf-o"></i> <a href="#" id="press-link">Communiqué presse société</a></p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>