<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Qui sommes nous ?</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row text-center" id="qui-sommes-nous-container">
    <img src="/assets/anthony.png">
    <div class="col-lg-12" id="header-title">
      <p>Anthony, fondateur des nouveaux cours particuliers vous  présente comment l’idée de vous proposer un service Sur mesure lui est apparue comme la meilleure solution pour parfois réaliser des rêves inassouvis</p>
      <p><a href="/galerie_des_profs">Découvrez la galerie des profs</a></p>
    </div>
  </div>
</div>