<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Recrutements</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="recrutements-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <p>Vous souhaitez rejoindre la Team particulière des Nouveaux Cours Particuliers ?</p>
      <p>Faites nous parvenir votre candidature via le formulaire ci-dessous</p>
    </div>
  </div>
  <%= render :partial => 'teachers/form' %>
</div>