<div class="container-fluid" id="static-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Vos avantages</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="static-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h2>UN SERVICE DES 6 ETOILES</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4" id="vos-avantages-container">
      <i class="fa fa-star fa-3x"></i>
      <h3>COURS PARTICULIERS 100% SUR MESURE</h3>
      <p>Chaque cours particuliers est construit autour de vous, en fonction de votre objectif, votre niveau et vos envies. C’est le leitmotiv des Nouveaux Cours Particuliers</p> 
      <p>Que vous souhaitiez pratiquer une activité de manière régulière ou ponctuelle, suivre des cours pour un évènement particulier (mariage, anniversaire..), ou tout simplement partager des moments avec vos proches, tous nos cours sont 100% SUR MESURE ET PERSONNALISÉS</p>
    </div>
    <div class="col-lg-4" id="vos-avantages-container">
      <i class="fa fa-star fa-3x"></i>
      <h3>PROFESSEURS SÉLECTIONNÉS</h3>
      <p>À la différence des nombreux annuaires présents sur Internet, nous sélectionnons tous nos professeurs intervenants via un processus de recrutement qui nous permet de vérifier leurs parcours, leurs compétences, leurs expériences et leurs pédagogies.</p>
      <p>Nous les rencontrons tous et leur faisons également passer un test de compétences, afin d’être sûr de leurs qualités d’enseignement.</p>
      <p>De plus, ils doivent être OBLIGATOIREMENT diplômés pour les disciplines réglementées</p>
      <p style="font-style:italic;">Vous pouvez découvrir notre galerie des profs, en <a href="/galerie_des_profs">cliquant ici</a></p>
    </div>
    <div class="col-lg-4" id="vos-avantages-container">
      <i class="fa fa-star fa-3x"></i>
      <h3>UNE PRATIQUE FACILITEE</h3>
      <p>Le principe Des Nouveaux Cours Particuliers étant de vous apporter un service de haute qualité, nous intervenons à votre domicile du lundi au samedi avec une large amplitude horaire: de 7h à 22h30 en fonction de vos disponibilités et de celle de nos professeurs.</p> 
      <p>Nos services sont accessibles sur Paris et toutes l’Ile de France</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-4" id="vos-avantages-container">
      <i class="fa fa-star fa-3x"></i>
      <h3>PLUS DE 30 ACTIVITES</h3>
      <p>Nous avons pris le partie de vous proposer de nombreuses activités pour satisfaire toutes vos envies.  Ainsi, vous pouvez suivre des cours de plus de 30 activités directement dans votre salon, avec environ 100 professeurs.</p>  
      <p>Cours de danse, cours de yoga, coaching sportif, cours de chant, cours de musique, cours d’arts martiaux, cours de boxe… désormais votre salon va s’agiter.</p>
    </div>
    <div class="col-lg-4" id="vos-avantages-container">
      <i class="fa fa-star fa-3x"></i>
      <h3>DEDUCTIBLE DE VOS IMPOTS</h3>
      <p>Notre structure est déclarée auprès des services de l’État en tant qu’Entreprise « service à la personne ».</p>
      <p>Ainsi, sur l’ensemble des cours suivis vous bénéficiez de 50% de déduction fiscale (hors cours de groupe et cours hors domicile). Ce qui vous permet de suivre des cours particuliers sur mesure à partir de 15€/h/pers pour un couple.</p>
      <p>Nous prenons en charge l’ensemble des démarches administratives nécessaires, vous n’avez rien à faire. Nous nous occupons de tout.</p> 
      <p><a href="/faq">En savoir plus</a></p>
    </div>
    <div class="col-lg-4" id="vos-avantages-container">
      <i class="fa fa-star fa-3x"></i>
      <h3>ECOUTE ET CONSEIL</h3>
      <p>Nous sommes joignable par mail et par téléphone du lundi au vendredi de 9h à 19h, pour vous conseiller, répondre à vos questions, ou vous donner une information.</p>
    </div>
  </div>
</div>

