<div class="container-fluid" id="teacher-header-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Edit Professeur</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="new-teacher-container">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <p>Modifier votre profile !</p><br><br>
      <%= render 'form' %>
      <%= link_to 'Back', teachers_path %>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
