<div class="container-fluid" id="teacher-header-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Professeurs</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="new-teacher-container">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <p>L’équipe des Nouveaux Cours Particuliers est très heureuse de vous accueillir !</p>
      <p>Vous trouverez ci-joint votre dossier d’inscription.</p>
      <p>Il est réservé à un usage interne et nous permet de recueillir l’ensemble des informations nécessaires à la gestion quotidienne de votre future activité, et d’être en conformité avec la législation.</p>
      <p>Je vous remercie par avance de bien vouloir le remplir.</p>
      <p>Je reste disponible pour toute question et vous souhaite la bienvenue parmi les agitateurs de domicile.</p>
      <%= render 'form' %>
      <%= link_to 'Back', teachers_path %>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
