// Place all the styles related to the ActivityGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#activity-group-header-container {
  background: #373B4F;
  padding-bottom:2em;
  padding-top:100px;

  #header-title {
    font-family:'Raleway';
    color:white;
    h1 {
      font-weight:500;
      font-size:3em;
    }
  }
}

#activity-group-main-container {
  padding:4em;
  background: #f20661;
  color:white;
  font-family: 'Raleway';
  font-size: 1.5em;
  table td {
    font-weight:300;
    font-family: 'Raleway';
    font-size:1em;
    line-height:1.2em;
    padding-right:0.5em;
  }
  #image-div {
    background-size:cover;
    background-position-x: 50%;
  }
  p {
    font-family:'Raleway';
    font-size:1em;
    line-height:1.4em;
  }
}

#new_activity_group {
  #activity_group_name, #activity_group_description {
    width: 100%;
    padding:1em;
    color: #3d3d3d;
  }

  input[type="submit"] {
    background-color:white;
    color:#f20661;
    padding:1em 3em;
    margin-top:1em;
  }


}