/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "*";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// NAVIGATION

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Raleway';
  
  .navbar-right {
    margin-top:1.5em;
    margin-right:2em;
  }

  .navbar-header {
    padding-top:0.5em;
    font-size:1.6em;
    font-weight:900;
  }

  a {
    text-decoration:none;
    background:transparent;
    &:visited {
      color: transparent;
    }
    &:hover {
      color: transparent;
    }
  }

  li a {
    color: #fff !important;
    font-size: 1.4em;
    font-family:'Raleway';
    font-weight:500;
    &:visited {
      color:#fff;
    }
  }

  .megamenu {
    h3 {
      font-size:1.4em;
      color:#f20661;
    }

    li {
      padding: 0.5em 0;
    }
  }
  .dropdown-menu li a {
    font-size:1.2em;
  }

  .dropdown-md > .dropdown-menu {
    min-width:450px;
  }

  .dropdown-lg > .dropdown-menu {
    min-width:850px;
  }
}

.opaque {
  background-color:black !important;
  opacity: 0.8 !important;
  #nav-logo {
    height:90px !important;
  }
}

// FOOTER

footer {
  background: #373B4F;
  color:white;
 ul {
    list-style:none;
    display: flex;
    li {
      padding: 2em;
      font-size: 1.5em;
      font-weight: 400;
      font-family: 'Raleway';
    }
  }
  a {
    color: white;
    text-decoration:none;
    background:transparent;
    &:hover {
      color: white;
      text-decoration:none;
    }
    &:visited {
      color: white;
      text-decoration:none;
    }
  }
}

@media screen and (max-width: 992px) {

  #nav-logo {
    height:75px !important;
    margin:0px !important;
  }

  .megamenu ul {
     padding-bottom:15px;
  }
  
  .megamenu > .dropdown-menu {
     min-width:950px;
     right:-150%;
  } 

  .megamenu > #dropdown-about {
     right:0;
     left:20%;
  } 

  footer ul {
    display:inherit;
  }
  
  iframe {
    width:100%;
    height:auto;
  }
}
