<div class="container-fluid" id="activity-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Modifier une Activité</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="activity-main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" id="header-title">
        <%= render 'form' %>

        <%= link_to 'Show', @activity %> |
        <%= link_to 'Back', activities_path %>
    </div>
  </div>
</div>