<footer>
  <div class="container-fluid" id="footer-container">
    <div class="row" style="padding:3em;">
      <div class="col-lg-12">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/comment_ca_marche">Comment ca marche ?</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/mentions-legales">Mentions légales</a></li>
          <li><a href="/">CGV</a></li>
          <li><a href="/">CGU</a></li>
          <li><a href="/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>