<footer>
  <div class="container-fluid" id="footer-container">
    <div class="row" style="padding:3em;">
      <div class="col-lg-4">
        <h2>Sitemap</h2>
        <p>Home</p>
        <p>Qui sommes nous</p>
        <p>Les cours particuliers</p>
        <p>Les evenements</p>
        <p>Blog</p>
      </div>
      <div class="col-lg-4">
        <h2>Blog</h2>
        <p>Cours de danse a Paris</p>
        <p>Aprendre le vals a la maison</p>
      </div>
      <div class="col-lg-4">
        <h2>Contact</h2>
        <p>Email</p>
        <p>Twitter</p>
        <p>Facebook</p>
        <p>Address</p>
      </div>
    </div>
  </div>
</footer>