<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><%= image_tag('logo_new.png', :id => "nav-logo", :style => "height:120px;margin-left:1em;") %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown megamenu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">A propos<span class="caret"></span></a>
          <div class="dropdown-menu" id="dropdown-about" style="background: rgba(0, 0, 0, 0.8);">
            <ul class="list-unstyled col-lg-12 col-sm-6" role="menu">
              <li><a href="/comment_ca_marche">Comment ça marche ?</a></li>
              <li><a href="/vos_avantages">Vos avantages</a></li>
              <li><a href="/qui_sommes_nous">Qui sommes nous ?</a></li>
              <li><a href="/qui_sont_les_professeurs">Qui sont les professeurs ?</a></li>
              <li><a href="/galerie_des_profs">Galerie des profs</a></li>
              <li><a href="/recrutements">Recrutements</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown megamenu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Les cours<span class="caret"></span></a>
          <div class="dropdown-menu" style="background: rgba(0, 0, 0, 0.8);right:-300%;">
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><a href="#"><h3>Danse de couple</h3></a></li> 
              <li><a href="/cours-de-rock">Rock & swing</a></li>
              <li><a href="/cours-de-danse-latino">Salsa & latino</a></li>
              <li><a href="/cours-de-valse-et-salon">Valse & danses de salon</a></li>
              <li><a href="/cours-de-tango-argentin">Tango argentin</a></li>
              <li><a href="#"><h3>Autres danses</h3></a></li>
              <li><a href="/cours-de-danses-urbaines">Hip Hop & danses urbaines</a></li>
              <li><a href="/cours-de-world-danse">Bollywood, orientale & world danse</a></li>
              <li><a href="/cours-de-valse-et-salon">Valse & danse de salon</a></li>
              <li><a href="/cours-de-line-danse">Line dance, Madison</a></li>
              <li><a href="/cours-de-danse-traditionelle">Danse traditionnelle</a></li>
              <li><a href="/cours-de-danse-classique">Classique</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><a href="/cours-de-yoga-pilates-gym"><h3>Yoga, Pilates, Gym</h3></a></li> 
              <li><a href="/cours-de-yoga-dynamique">Yoga dynamique</a></li>
              <li><a href="/cours-de-yoga-doux">Yoga doux</a></li>
              <li><a href="/cours-de-yoga-grossesse">Yoga grossesse</a></li>
              <li><a href="/cours-de-pilates">Pilates</a></li>
              <li><a href="/cours-de-gym-douce">Gym douce-stretching</a></li>
              <li><a href="/cours-de-feldenkrais">Feldenkrais</a></li>
              <li><a href="/cours-de-qi-jong">Qi jong</a></li>
              <li><a href="/cours-de-tai-chi-chuan">Thai-chi-chuan</a></li>
              <li><a href="/cours-de-gym-suédoise">Gym suédoise</a></li>
              <li><a href="cours-de-zumba">Zumba</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><a href="/coaching-sportif"><h3>Fitness & coaching</h3></a></li> 
              <li><a href="/coaching-renforcement">Renforcement musculaire</a></li>
              <li><a href="/coaching-perte-de-poids">Perte de poids</a></li>
              <li><a href="/coaching-cardio">Extrem et cardio</a></li>
              <li><a href="/coaching-prisse-masse">Prise de masse</a></li>
              <li><a href="/coaching-grossesse">Grossesse</a></li>
              <li><a href="/coaching-post-grossesse">Post grossesse</a></li>
              <li><a href="/coaching-senior">Spécial sénior</a></li>
              <li><a href="/coaching-zumba">Zumba</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Arts Martiaux</h3></li> 
              <li><a href="#">Boxe</a></li>
              <li><a href="#">Boxe Thaï</a></li>
              <li><a href="#">Self défense</a></li>
              <li><a href="#">Lady boxing</a></li>
              <li><a href="#">Krav maga</a></li>
              <li><a href="#">Capoeira</a></li>
              <li><a href="#">Karaté</a></li>
              <li><a href="#">Kung fu</a></li>
              <li><a href="#">Thai-chi-chuan</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Musique</h3></li> 
              <li><a href="#">Eveil musical</a></li>
              <li><a href="#">Solfège</a></li>
              <li><a href="#">Guitare</a></li>
              <li><a href="#">Guitare électrique</a></li>
              <li><a href="#">Piano</a></li>
              <li><a href="#">Violon</a></li>
              <li><a href="#">Percussion</a></li>
              <li><a href="#">Batterie</a></li>
              <li><a href="#">Flute</a></li>
              <li><a href="#">Autres</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Chant</h3></li> 
              <li><a href="#">Pour débutant</a></li>
              <li><a href="#">Enfant</a></li>
              <li><a href="#">Chant lyrique</a></li>
              <li><a href="#">Chant pop/rock</a></li>
              <li><a href="#">Jazz, comédie musicale & gospel</a></li>
              <li><a href="#">Technique</a></li>
              <li><a href="#">Interprétation</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown megamenu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Les évènements <span class="caret"></span></a>
          <div class="dropdown-menu" style="background: rgba(0, 0, 0, 0.8)">
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Mariage & Pacs</h3></li> 
              <li><a href="#">Ouverture de bal traditionelle</a></li>
              <li><a href="#">Ouverture de bal moderne / fun</a></li>
              <li><a href="#">Ouverture de bal danse à deux</a></li>
              <li><a href="#">Ouverture de bal Dirty Dancing</a></li>
              <li><a href="#">Autres ouvertures de bal</a></li>
              <li><a href="#">Chorégraphie de groupe type flash mob</a></li>
              <li><a href="#">EVJF & EVG</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Anniversaire</h3></li> 
              <li><a href="#">Cours danse tête à tête</a></li>
              <li><a href="#">Animation groupe soirée</a></li>
              <li><a href="#">Cours de chant duo</a></li>
              <li><a href="#">Cours à offrir</a></li>
              <li><a href="#">Animation anniversaire enfant</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Autres évènements</h3></li> 
              <li><a href="#">Bar Mitsva</a></li>
              <li><a href="#">Pot de départ</a></li>
              <li><a href="#">Rallye</a></li>
              <li><a href="#">Préparation bal de Vienne</a></li>
              <li><a href="#">Cours privés sur mesure pour un autre évènement</a></li>
              <li><a href="#">Organisation de surprise</a></li>
              <li><a href="#">Cours régulier entre amis</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Entre amis/groupe</h3></li> 
              <li><a href="#">Rallye</a></li>
              <li><a href="#">Soirée à thème</a></li>
              <li><a href="#">Cours réguliers entre amis</a></li>
              <li><a href="#">Coaching sportif  en Groupe</a></li>
              <li><a href="#">Pot de départ</a></li>
              <li><a href="#">Flash Mob</a></li>
              <li><a href="#">EVJF</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Demandes spécifiques</h3></li> 
              <li><a href="#">Préparation sportive sur mesure</a></li>
              <li><a href="#">Préparation examen sur mesure</a></li>
              <li><a href="#">Accompagnement Professionnel</a></li>
              <li><a href="#">Spectacle de danse</a></li>
              <li><a href="#">Spectacle de chant</a></li>
              <li><a href="#">Spectacle de musique</a></li>
              <li><a href="#">Autres</a></li>
            </ul>
            <ul class="list-unstyled col-lg-2 col-sm-6" role="menu">
              <li><h3>Entreprise</h3></li> 
              <li><a href="#">Organisation de cours</a></li>
              <li><a href="#">Team building</a></li>
              <li><a href="#">Animation soirée</a></li>
              <li><a href="#">Accompagnement Professionnel</a></li>
            </ul>

          </div>
        </li>
        <li><a href="/#gift-anchor">Cours à offrir</a></li>
        <li><a href="#">Témoignages</a></li>
        <li><a href="http://www.anthony-teyssier.fr/" target="_blank">Blog</a></li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>

<script>
(function(){
  $(window).scroll(function() {
  
      // check if window scroll for more than 430px. May vary
      // as per the height of your main banner.
      
      if($(this).scrollTop() > 100) { 
          $('.navbar').addClass('opaque'); // adding the opaque class
      } else {
          $('.navbar').removeClass('opaque'); // removing the opaque class
      }
  });
})();
</script>